@model MvcApplication1.Models.Post
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
        <script type="text/javascript" src="/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript">
              $(document).ready(function () {
                  $('#menu').hide();
                  $("#add").hide();
                  $("#del").hide();
                  $("#all").hide();
                  $('#addPost').click(function () {
                      $("#add").show();
                      $("#del").hide();
                      $("#all").hide();
                  });
                  $('#delPost').click(function () {
                      $("#add").hide();
                      $("#del").show();
                      $("#all").hide();    
                  });
                  $('#viewAllPost').click(function () {
                      $("#add").hide();
                      $("#del").hide();
                      $("#all").show();
                  });
              });
    </script>
<title>BusinessToday</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="~/content/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">FREE FORUM</a></h1>
      <p><strong>Its a free for for sale and purchase </strong></p>
    </div>
    <div id="newsletter">
        @{if(ViewBag.name == null){
                  @Scripts.Render("~/bundles/jquery")
                    <script type="text/jscript">
                        $(document).ready(function () {
        
                            $('#text').text("You have to login or signup to post new ads");  
                        });
                  </script>
            
      <p>       Login to post new ads of your product.  </p>
      <form action="/Home/Login" method="post">
        <fieldset>
          <legend>NewsLetter</legend>
          <input type="text" name="Name" value="Name&hellip;"  onfocus="this.value=(this.value=='Name&hellip;')? '' : this.value ;" />
          <input type="text" name="Password" value="Password&hellip;"  onfocus="this.value=(this.value=='Password&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="LOGIN" />
        </fieldset>
      </form>
            <p> </p>
            <p> If you don't have account than kindly signup </p>
<!--            <input type="button" name="news_go" id="news_go" value="SIGNUP"/> -->
            @Html.ActionLink("SIGNUP", "Signup", "Signup")
        }
        else{
              @Scripts.Render("~/bundles/jqueryval")
            <script type="text/jscript">
                $(document).ready(function () { $('#menu').show(); });

            </script>
             
              <p>Hello, @Session["name"]</p>
            <a href ="/Home/Logout" >Logout </a>
            
        }}
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li><a href="~/Home/Index">  HOME  </a></li>
        <li><a href="~/Home/Aboutus">  OUR SRVICES  </a></li>
        <li><a href="~/Home/Contact">  CONTACT US  </a></li>
        <li class="active"><a href="~/Post/Post">  POSTS  </a></li>
      </ul>
    </div>








    <br class="clear" />


      </div>
    </div>
      <label id ="text"></label>

      <div id="menu">
          <table>
              <tr>
                  <th>1.</th>
                  <td><button id="addPost" >Add A New Post</button></td>
              </tr>
              <tr>
                  <th>2.</th>
                  <td><button id="delPost">Delete A Post</button></td>
              </tr>
              <tr>
                  <th>3.</th>
                  <td><button id="viewAllPost">View All Posts</button></td>
              </tr>
          </table>
      </div>
      
      <div id ="add">

       <form action="/Post/Savead" method="post" enctype="multipart/form-data">
        
            <label>Add a New Post To DataBase</label><br />
           <br />
           <table>
               <tr>
                   <th>
            <label class="control-label" for="loc">Product Name</label>
                       </th>
                   <td>
                            <div class="controls">
                                <select class="form-control" name="ProductName">
                                <option>Bike</option>
                                <option>Car</option>
                                <option>Property</option>
                                <option>Mobile</option>
                                <option>Stationary</option>
                                <option>Laptop</option>
                                <option>Others</option>
                                </select>
                            </div>
                       </td>
           </tr>
           
           <tr><th>Product Price: </th> <td><input type="text" name="Price" /></td></tr>

           <tr><th>Product Model: </th> <td> <input type="text" name="Model" /></td></tr>

           <tr><th>Product Image: </th> <td> <input type ="file" name ="ImagePath" value="Choose File"/></td></tr>
            <tr><th></th>
               
               <td><button type="submit" >Add Post</button></td></tr>
        </table>
        </form>


    @Scripts.Render("~/bundles/jqueryval")

      </div>

      <div id="del">
          <table id="del1">
              <tr><th>Image</th><th>Product Name</th><th>Model</th><th>Price</th><th>Remove</th></tr>
          </table>
          <label id="del2"></label>

          @Scripts.Render("~/bundles/jqueryval")
            <script type="text/jscript">
                $(document).ready(function () {
                    $.getJSON('/Post/GetAllPostOfLoggedUser', function(data){
                        if( data != null )
                            $.each(data, function(i, item){
                                $('#del1').append('<tr> <td><img  height=200px width=200px src="' + item.ImagePath + '" alt="image 01" /></td> <td> ' + item.ProductName + '</td><td>' + item.Model + '</td><td>' + item.Price + '</td><td> <a href="/Post/RemoveItem/' + item.Id + '"><img src="/Images/remove_x.gif" alt="remove" /></a> </td></tr>');

                            });
                        else
                            $('#del2').text("You have not posted any post");
                    }); 
                });

            </script>

          @Scripts.Render("~/bundles/jqueryval")

      </div>

      <div id="all">
          <div id="al">
          
            <table id="all1">
              <tr><th>Image</th><th>Product Name</th><th>Model</th><th>Price</th></tr>
          </table>         
              </div>
          <label id="all2"></label>

          @Scripts.Render("~/bundles/jqueryval")
            <script type="text/jscript">
                $(document).ready(function () {
                    $.getJSON('/Post/GetAllPostOfLoggedUser', function(data){
                        if( data != null )
                            $.each(data, function(i, item){
                                $('#all1').append('<tr><td><img height=200px width=200px src="' + item.ImagePath + '" alt="image 01" /></td><td> ' + item.ProductName + '</td><td>' + item.Model + '</td><td>' + item.Price + '</td></tr>');

                            });
                        else
                            $('#all2').text("You have not posted any post");
                    }); 
                });
            </script>
          @Scripts.Render("~/bundles/jqueryval")

      </div>  




    



<div class="wrapper col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">www.freeforum.com</a></p>
    <p class="fl_right">Website by <a href="http://www.os-templates.com/" title="Free Website Templates">Syed Adnan Ul Hassan</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
